In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
print(np.get_printoptions())

{'edgeitems': 3, 'threshold': 1000, 'floatmode': 'maxprec', 'precision': 8, 'suppress': False, 'linewidth': 75, 'nanstr': 'nan', 'infstr': 'inf', 'sign': '-', 'formatter': None, 'legacy': False, 'override_repr': None}

In [ ]:
np.set_printoptions(threshold=np.inf)  # no truncation 
np.set_printoptions(linewidth=200)  # wider console display

In [ ]:
# reset numpy printoptions to default
np.set_printoptions(threshold=1000)  # (1000) default value
np.set_printoptions(linewidth=75)  # (75) default value

In [3]:
df = pd.read_csv("../data/raw_data.csv")

In [4]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [5]:
# Check null values for each column
df.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [6]:
print(df.describe())

              price     bedrooms    bathrooms   sqft_living      sqft_lot  \
count  4.399000e+03  4399.000000  4399.000000   4399.000000  4.399000e+03
mean   5.616355e+05     3.400318     2.161514   2138.845192  1.500894e+04
std    5.712439e+05     0.908256     0.780128    959.771033  3.658132e+04
min    0.000000e+00     0.000000     0.000000    370.000000  6.380000e+02
25%    3.299725e+05     3.000000     1.750000   1460.000000  5.000000e+03
50%    4.690000e+05     3.000000     2.250000   1980.000000  7.680000e+03
75%    6.600000e+05     4.000000     2.500000   2620.000000  1.099300e+04
max    2.659000e+07     9.000000     8.000000  13540.000000  1.074218e+06

            floors   waterfront         view    condition   sqft_above  \
count  4399.000000  4399.000000  4399.000000  4399.000000  4399.000000
mean      1.512048     0.006592     0.238918     3.447602  1825.288702
std       0.539348     0.080935     0.771523     0.675645   855.664440
min       1.000000     0.000000     0.000000     1.000000   370.000000
25%       1.000000     0.000000     0.000000     3.000000  1190.000000
50%       1.500000     0.000000     0.000000     3.000000  1590.000000
75%       2.000000     0.000000     0.000000     4.000000  2300.000000
max       3.500000     1.000000     4.000000     5.000000  9410.000000

       sqft_basement     yr_built  yr_renovated
count    4399.000000  4399.000000   4399.000000
mean      313.556490  1970.883155    809.786770
std       465.158672    29.764369    979.694738
min         0.000000  1900.000000      0.000000
25%         0.000000  1951.000000      0.000000
50%         0.000000  1976.000000      0.000000
75%       610.000000  1997.000000   1999.000000
max      4820.000000  2014.000000   2014.000000

In [7]:
# number of zeros in each column
(df == 0).sum()

date                0
price              14
bedrooms            2
bathrooms           2
sqft_living         0
sqft_lot            0
floors              0
waterfront       4370
view             3959
condition           0
sqft_above          0
sqft_basement    2616
yr_built            0
yr_renovated     2613
street              0
city                0
statezip            0
country             0
dtype: int64

In [8]:
print((df['price']==0).sum())
df[df['price']==0]

14

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4354,2014-05-05 00:00:00,0.0,3.0,1.75,1490,10125,1.0,0,0,4,1490,0,1962,0,3911 S 328th St,Federal Way,WA 98001,USA
4356,2014-05-05 00:00:00,0.0,4.0,2.75,2600,5390,1.0,0,0,4,1300,1300,1960,2001,2120 31st Ave W,Seattle,WA 98199,USA
4357,2014-05-05 00:00:00,0.0,6.0,2.75,3200,9200,1.0,0,2,4,1600,1600,1953,1983,12271 Marine View Dr SW,Burien,WA 98146,USA
4358,2014-05-06 00:00:00,0.0,5.0,3.50,3480,36615,2.0,0,0,4,2490,990,1983,0,21809 SE 38th Pl,Issaquah,WA 98075,USA
4361,2014-05-07 00:00:00,0.0,5.0,1.50,1500,7112,1.0,0,0,5,760,740,1920,0,14901-14999 12th Ave SW,Burien,WA 98166,USA
4362,2014-05-07 00:00:00,0.0,4.0,4.00,3680,18804,2.0,0,0,3,3680,0,1990,2009,1223-1237 244th Ave NE,Sammamish,WA 98074,USA
4374,2014-05-09 00:00:00,0.0,2.0,2.50,2200,188200,1.0,0,3,3,2200,0,2007,0,39612 254th Ave SE,Enumclaw,WA 98022,USA
4376,2014-05-09 00:00:00,0.0,4.0,2.25,2170,10500,1.0,0,2,4,1270,900,1960,2001,216 SW 183rd St,Normandy Park,WA 98166,USA
4382,2014-05-12 00:00:00,0.0,5.0,4.50,4630,6324,2.0,0,0,3,3210,1420,2006,0,6925 Oakmont Ave SE,Snoqualmie,WA 98065,USA
4383,2014-05-13 00:00:00,0.0,5.0,4.00,4430,9000,2.0,0,0,3,4430,0,2013,1923,9235 NE 5th St,Bellevue,WA 98004,USA
4385,2014-05-13 00:00:00,0.0,4.0,4.50,5030,11023,2.0,0,2,3,3250,1780,2008,0,4140 Boulevard Pl,Mercer Island,WA 98040,USA
4386,2014-05-13 00:00:00,0.0,4.0,1.50,2180,22870,1.0,0,0,4,1280,900,1954,1975,31603 E Lake Morton Dr SE,Kent,WA 98042,USA
4389,2014-05-15 00:00:00,0.0,4.0,3.50,4210,10308,2.0,0,0,3,4210,0,2006,0,2234 167th Ave SE,Bellevue,WA 98008,USA
4394,2014-05-16 00:00:00,0.0,5.0,3.25,3690,12353,2.0,0,0,5,3690,0,1977,0,19055 35th Ave NE,Lake Forest Park,WA 98155,USA

In [9]:
numeric_cols = df.select_dtypes(include='number').columns
print(numeric_cols)

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'sqft_above', 'sqft_basement',
       'yr_built', 'yr_renovated'],
      dtype='object')

In [10]:
# Coefficient of variation
# below 10%       low
# between 10%-30% mid
# above 30%       high
cv = ((df[numeric_cols].std() / df[numeric_cols].mean()) * 100).sort_values(ascending=False)
# skewness of features
# 0 perfectly symmetric
# >=1  higly right skewed
# <=-1 highly left skewed
skew = df[numeric_cols].skew().sort_values(ascending=False)

# Kurtosis of Features
# =0 Normal
# >0 Heavy tails -> more outliers
# <0 Light tails -> Fewer outliers 
kurt = df[numeric_cols].kurt().sort_values(ascending=False)

print("Coefficient of Variation:")
print(cv)
print("\nSkewness:")
print(skew)
print("\nKurtosis:")
print(kurt)

Coefficient of Variation:
waterfront       1227.696699
view              322.923709
sqft_lot          243.730218
sqft_basement     148.349241
yr_renovated      120.981816
price             101.710779
sqft_above         46.878307
sqft_living        44.873329
bathrooms          36.091725
floors             35.670023
bedrooms           26.710919
condition          19.597546
yr_built            1.510205
dtype: float64

Skewness:
price            24.877397
waterfront       12.198269
sqft_lot         11.140929
view              3.329927
sqft_living       1.729281
sqft_basement     1.646787
sqft_above        1.458468
condition         0.965148
bathrooms         0.607106
floors            0.553496
bedrooms          0.474143
yr_renovated      0.383528
yr_built         -0.510000
dtype: float64

Kurtosis:
price            1034.821717
sqft_lot          212.604859
waterfront        146.864531
view               10.383009
sqft_living         8.481804
sqft_basement       4.162655
sqft_above          3.796111
bathrooms           1.840059
bedrooms            1.304331
condition           0.232170
floors             -0.540785
yr_built           -0.659821
yr_renovated       -1.852991
dtype: float64

In [11]:
# check distinct values for categorical columns
uniq_values = {col: sorted(df[col].unique().tolist()) for col in ['bedrooms', 'bathrooms', 'floors', 'waterfront', 'view','condition', 'yr_built', 'yr_renovated']}
pretty_json = json.dumps(uniq_values, indent=2)
print(pretty_json)

{
  "bedrooms": [
    0.0,
    1.0,
    2.0,
    3.0,
    4.0,
    5.0,
    6.0,
    7.0,
    8.0,
    9.0
  ],
  "bathrooms": [
    0.0,
    0.75,
    1.0,
    1.25,
    1.5,
    1.75,
    2.0,
    2.25,
    2.5,
    2.75,
    3.0,
    3.25,
    3.5,
    3.75,
    4.0,
    4.25,
    4.5,
    4.75,
    5.0,
    5.25,
    5.5,
    5.75,
    6.25,
    6.5,
    6.75,
    8.0
  ],
  "floors": [
    1.0,
    1.5,
    2.0,
    2.5,
    3.0,
    3.5
  ],
  "waterfront": [
    0,
    1
  ],
  "view": [
    0,
    1,
    2,
    3,
    4
  ],
  "condition": [
    1,
    2,
    3,
    4,
    5
  ],
  "yr_built": [
    1900,
    1901,
    1902,
    1903,
    1904,
    1905,
    1906,
    1907,
    1908,
    1909,
    1910,
    1911,
    1912,
    1913,
    1914,
    1915,
    1916,
    1917,
    1918,
    1919,
    1920,
    1921,
    1922,
    1923,
    1924,
    1925,
    1926,
    1927,
    1928,
    1929,
    1930,
    1931,
    1932,
    1933,
    1934,
    1935,
    1936,
    1937,
    1938,
    1939,
    1940,
    1941,
    1942,
    1943,
    1944,
    1945,
    1946,
    1947,
    1948,
    1949,
    1950,
    1951,
    1952,
    1953,
    1954,
    1955,
    1956,
    1957,
    1958,
    1959,
    1960,
    1961,
    1962,
    1963,
    1964,
    1965,
    1966,
    1967,
    1968,
    1969,
    1970,
    1971,
    1972,
    1973,
    1974,
    1975,
    1976,
    1977,
    1978,
    1979,
    1980,
    1981,
    1982,
    1983,
    1984,
    1985,
    1986,
    1987,
    1988,
    1989,
    1990,
    1991,
    1992,
    1993,
    1994,
    1995,
    1996,
    1997,
    1998,
    1999,
    2000,
    2001,
    2002,
    2003,
    2004,
    2005,
    2006,
    2007,
    2008,
    2009,
    2010,
    2011,
    2012,
    2013,
    2014
  ],
  "yr_renovated": [
    0,
    1912,
    1913,
    1923,
    1934,
    1945,
    1948,
    1953,
    1954,
    1955,
    1956,
    1958,
    1960,
    1963,
    1966,
    1968,
    1969,
    1970,
    1971,
    1972,
    1974,
    1975,
    1977,
    1978,
    1979,
    1980,
    1981,
    1982,
    1983,
    1984,
    1985,
    1986,
    1987,
    1988,
    1989,
    1990,
    1991,
    1992,
    1993,
    1994,
    1995,
    1996,
    1997,
    1998,
    1999,
    2000,
    2001,
    2002,
    2003,
    2004,
    2005,
    2006,
    2007,
    2008,
    2009,
    2010,
    2011,
    2012,
    2013,
    2014
  ]
}

In [12]:
df['city'].nunique()

44

In [ ]:
# Get new names for the encoded categorical 
ohe_features = ct.named_transformers_['city_encoder'].get_feature_names_out([X.columns[12]])
# Get the remainder (all other original column names except city)
remainder_features = [col for i, col in enumerate(X.columns) if i != 12]
# Combine
all_features = list(ohe_features) + remainder_features

print(all_features)
X_df = pd.DataFrame(X_transformed, columns=all_features, index=X.index)